@media (max-width: 767px) {
/* ---------  INDEX */
/* Gerais */

p {font-size: 12px;}
.titulo h1{font-size: 30px; padding: 0; }
.subtitulo { padding-top: 20px;}
.call {padding-top: 40px;  margin-bottom: 40px; padding: 20px 0px;} 
.call a{font-size: 12px; padding: 5px 20px;}

.intro, .equipe, .prodx, .especialidades{padding-bottom: 0px; }

.titulo_icon { padding-top: 0px;}

.titulo_icon img{max-width: 50px;}

.titulo_icon h1{ font-size: 30px; padding-bottom: 10px;}

/* Heights dos Containers */
.headerbg{ height: 60px; }
.banner.inicio, .banner{ height: 350px; }
.intro{height: 700px;}
.equipe{height: 600px;}
.prodx{height: 700px;}
.especialidades {height: 1080px;}
/* -- --*/

/* Logo */
.logo img{
    float: left;
    height: auto;
    width: auto;
    margin: 0px 5px;
  }

 /* Logo */

/* Banner */
.banner .grid-6 {
	max-width: 50%;
	height: auto;
	float: left;
}

.banner {padding-top: 80px;}
.banner .banner_imagem img{padding: 20px 0px 0px 0px;}	
.banner_texto {padding: 0; max-width: 50%;}
.banner_texto h1 {font-size: 22px;}
.banner_texto p {font-size: 16px; }
.banner .call {margin-bottom: 40px; padding: 20px 0px;}
.banner_texto .call a{
    font-size: 12px;
    color: #fff;
    border: 2px solid #fff;}

.banner_texto .call a:hover{
    color: #006df0; 
    background: #fff;
}



/* Intro */
.intro img { height: 100px; padding-bottom: 10px;}
.intro p {font-size: 14px;}



/* Produtos */
.prodx {margin-bottom: 40px;}
.prodx .conteudo { padding-top: 0px; }
.conteudo p{ font-size: 14px;}

.btns{ padding: 60px 0;}
.btns a{   padding: 10px 10px; font-size: 16px; }

.btn_mi.grid-6, .btn_md.grid-6{
	max-width: 150px; float: left;}



/* Especialidades */
.especialidades .titulo h1{
	padding-bottom: 40px;
}
.especiali_item { padding: 0px 0px 0px 0px; text-align: center;}

.especi_texto {padding: 5px 0px 5px 0px; }

.especi_texto p {
	font-size: 14px; 
	text-align: left; 
	color: #4b4b4b; 
	margin: 0 auto; 
	padding-bottom: 20px;}

.especi_texto  h2{font-size: 24px; font-family: 'Dosis'; font-weight: 600; color: #006df0;}
.especiali_monitor{ clear: both; }
.especialidades .subtitulo{padding: 10px 0;}



/* Equipe */
.equipe .titulo h1{padding-bottom: 40px;}
.equipe_texto p{ font-size: 14px; padding:0px; margin: 0 auto;} 
.equipe_texto span {font-size: 14px;}

.membro {text-align: center; padding: 0;}
.membro .circulo {margin: 0 auto;}



/* Rodapé */
.rodape * {color: #fff; text-align: center;}
.rodape span{text-align: center;}
.rodape .contato ul { max-width: 100%; }
.rodape .titulorodap:after{ margin: 0 auto; }

.prod {padding-bottom: 20px;}
.apoie, .contato, .social{
    padding: 10px 0px 5px 0px;
}
/* ----------- /INDEX -----*/

/* ----------- SERVICOS ----*/
.banner.serv{ height: 200px; }

.servicos{height: 2000px;}

.autor, .monit {padding-bottom: 40px;}

.servicos .titulo h1 { font-size: 30px;padding: 10px 0px;}

.serv_txt p {font-size: 14px;}
/* ---------- /SERVICOS -----*/


/* ---------- PRODUTOS -------*/
.banner.modbanner, .banner.monibanner{ height: 200px;}

.moni_txt .titulo h1{
	font-size: 24px;
	margin: 0;
	padding: 0;
	max-width: 200px;
	float: left;}

.mod_txt .titulo h1{
	font-size: 24px;
	margin: 0;
	padding: 0;
	max-width: 200px;
	float: left;
	 }

.mod_txt .subtitulo h2{
	font-size: 18px;
	max-width: 200px;
	float: left;
}

.moni_txt .subtitulo h2{
	font-size: 18px;
	max-width: 200px;
	float: left;
}

.imgmod, .imgmoni img{
	margin-top: -30px;
	max-width: 100px;
	float: left;
}


.infomod, .infomoni {height: auto;}

.infomod_cont, .infomoni_cont{padding: 0px 0px;}

.infomod .titulo h1, .infomoni .titulo h1 {font-size: 30px;}

.infomod p, .infomoni p {font-size: 14px;}

.fotos img{
	height: auto;
	max-width: 80px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 60px;
}

.comprar { padding: 30px 0; text-align: center;}

.comprar a{ font-size: 24px; padding: 5px 30px;}

/* ----- / PRODUTOS ----*/



/* ----- SOBRE ----- */
.banner.sobre{ height: 200px;}

.sobre_cont.container{ height: auto;}

.sobre_txt { padding: 40px 0;}

.sobre_txt p{ font-size: 14px;}

.sobre_txt img{ height: auto;}

.sobre_txt .parag{ padding: 10px 0px 0px 0px;}

/* ----------/ SOBRE ---------*/




}


@media only screen and (max-width: 1024px){

/* Logo */
.logo img{
    margin: 0px 20px;
  }

 /* Logo */

.check_menu { display: block; }


.mobile-btn {
	display: block;
	color: rgba(255,255,255,.9);
	width: 36px;
	height: 36px;
	border-top: 4px solid;
	margin: 6px 12px 0 0;
	float: right;
	position: relative;
	cursor: pointer;
}

.mobile-btn::after, .mobile-btn::before {
	content: '';
	display: block;
	height: 4px;
	margin-top: 6px;
	background: currentColor;
	position: relative;
}

/* Menu Responsivo */
.header{ width: 100%; }
    
.header_menu { 
    visibility: hidden;
    opacity: 0;
    width: 100%; 
    float: right; 
    transform: translate3d(20px,0,0);
    transition: all .3s ease-in-out;}
    
    
.header_menu ul{
    margin-top: 8px;
    background: #006df0;

    }
    
.header_menu ul li{ 
    display: block; 
    padding: 5px 0px ;}
    
.header_menu ul li a{
    color: rgba(255,255,255,.9);
    padding: 10px 0;
    font-size: 14px;
    }
    .header_menu ul li a span{ padding: 5px 40px;}
    
 .header_menu.active{visibility: visible; opacity: 1; transform: translate3d(0,0,0); transition: all .3s ease-in-out;}


}