/*Estilo para tablets*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
/* -------- INDEX ----- */
/* Heights dos Containers */
.intro{height: 700px;}
.equipe{height: 800px;}
.prodx{height: 700px;}
.especialidades {height: 940px;}

.titulo_icon { padding-top: 0px;}

.titulo_icon img{max-width: 80px;}

.titulo_icon h1{ font-size: 48px; padding-bottom: 10px;}

/* ----- */


.banner.inicio{ height: 650px; padding-top: 120px;}

.banner_imagem img{ padding-top: 40px;}
.banner_texto { padding-right: 40px;}
.banner_texto h1 { font-size: 42px;}
.banner_texto p { font-size: 30px;}

.qualidadeitems{
    padding-top: 40px;
}

.qualiitem p { 
    margin: 0px auto; 
    font-size: 18px; 
    width: auto; 
}

.qualiitem img { 
    margin: 0px auto; 
    height: 200px; 
    padding-bottom: 10px; 
    clear: both;}

.qualiitem span {font-weight: 600;}



.conteudo p{ font-size: 20px;}

/* ------ / INDEX ------ */


/* ------- SERVICOS ------- */
.banner.serv{ height: 350px; padding-top: 120px; }

.servicos{height: 1600px;}

.autor, .monit {padding-bottom: 140px;}

.servicos .titulo h1 { font-size: 30px;padding: 20px 0px;}

.serv_txt p {font-size: 18px;}

/* -------- / SERVICOS -------- */


/* --------- PRODUTOS ---------*/
.banner.modbanner, .banner.monibanner{ height: 350px; padding-top: 120px;}


.moni_txt .titulo h1{
	font-size: 36px;
}

.mod_txt .titulo h1{
	font-size: 36px;
	 }

.mod_txt .subtitulo h2{
	font-size: 30px;
}

.moni_txt .subtitulo h2{
	font-size: 30px;
}

.imgmod img, .imgmoni img{
	height: 200px;
}

.moni_banner{
	padding-top: 0px;
}
.infomod, .infomoni {height: 550px;}


.infomod_cont, .infomoni_cont{padding: 40px 0px; }

.infomod .titulo h1, .infomoni .titulo h1 {font-size: 30px;}

.infomod p, .infomoni p {font-size: 14px;}

.fotos img{
	height: auto;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 60px;
}

.comprar { padding: 30px 0px; text-align: center; }

.comprar a{ font-size: 24px; width: 280px;}


/* --------- / PRODUTOS -------*/


/* ------- SOBRE ---------*/
.banner.sobre{ height: 350px; padding-top: 120px;}

.sobre_cont.container{ height: 850px;}

.sobre_txt {padding: 0;}

.sobre_txt p{ font-size: 18px;}

.sobre_txt img{ height: auto;}

.sobre_txt .parag{ padding: 40px 0px 0px 0px;}




/* -------- / SOBRE ------ */

} /* Fim Estilo Tablets */