.user-menu {
	clear: both; 
	width: 100%; 
	padding: 10px 0px;
	height: 60px; 
	background: black; 
	border-bottom: 1px solid blue;
}

.user-menu input{ display: none; }

.user-btn{ 
	display: block;
	height: 40px;
	width: 40px;
	border-top: 3px solid white;
}

.user-btn:after, .user-btn:before{
	content: '';
	display: block;
	margin: 5px auto;
	height: 3px;
	width: 40px;
	background: white;
	cursor: pointer;
}

.wrapper-menu label span {
	display: block; 
	color: white;
	padding: 10px 0px 10px 60px; 
	cursor: pointer; 
	margin: 5px 0;
}

.wrapper-menu{ 
	padding: 30px 0px; 
	width: 20%; 
}

.wrapper-menu .item li a{ 
	display: block; 
	color: white; 
	padding: 5px 0px 10px 60px; 
	margin: 5px 0;
}

.wrapper-menu a{ padding-left: 20px; }
