/* Produtos 960px++++*/

.banner.modbanner, .banner.monibanner{

   background: url("../img/servicos/servbanner2.png") no-repeat center;
   background-size: cover;
   margin-bottom: 40px;
}

.moni_txt .titulo h1{
	font-size: 72px;
	color: rgba(255,255,255,.9);
}

.mod_txt .titulo h1{
	font-size: 72px;
	color: rgba(255,255,255,.9);  }

.mod_txt .subtitulo h2{
	font-size: 48px;
	color: rgba(255,255,255,.9);
}

.moni_txt .subtitulo h2{
	font-size: 48px;
	color: rgba(255,255,255,.9);
}

.infomod, .infomoni {background-color: white; height: 850px;}

.infomod_cont, .infomoni_cont{
	padding: 40px 0px;
}


.infomod .titulo h1 {
	font-size: 60px;
}

 .infomoni .titulo h1{
	font-size: 60px;
}

.infomod p {
	font-size: 24px;
}

.infomoni p {
	font-size: 24px;
}


.fotos img{
	height: 180px;
	background: #006df0;
	border-radius: 100%;
}

.comprar { padding-top: 40px; text-align: center;}

.comprar a{
	font-family: 'Dosis', sans-serif;
	font-size: 48px;
	border: 5px solid #006df0;
	padding: 10px 0;
	color: #006df0;
	transition: .3s;
}

.comprar a:hover{
	background:#006df0;
	color: white;
	transition: .3s;

}


/* /Produtos 960px++++*/