.projetos_ints.site_cont {
    padding: 50px;
	background: url(../img/bg/bg-20anosgreen.gif)no-repeat center;
	background-size: cover;
	background-attachment: fixed; 
}

.proj_inst_i{
	margin-bottom: 10px;
	height: 250px;
}

.proj_inst_i h2{
	font-size: 12px;
	margin-bottom: 10px;
	font-weight: 600;
	color: #fff;
	transition: .5s;
	text-align: center;
}

.proj_inst_i img{
	display: block;
	max-width: 140px;
	 float: none; 
	 margin: 0px auto 20px auto; 
	 transition: .7s;
	}

.proj_inst_i:hover h2{
	color: #ff3300;
}
