/* Servicos 960px++++*/

.banner.serv{      
  background: url("../img/servicos/servbanner2.png") no-repeat center;
  background-size: cover;
}


.servicos{
	height: 1900px;
}

.autor, .monit {
	padding-top: 40px;
	padding-bottom: 80px;
}

.serv_txt p {
	font-size: 24px;
}

/* / Servicos 960px++++*/
