img { /* Imagem fluída */
	display: block;
	max-width: 100;
}

body {  
	background-size: cover; 
	background-attachment: fixed;
	box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;}

h1 { 
	font-size: 60px;
	line-height: 2em;
	text-transform: uppercase;
}

p{
	font-size: 21px;
	font-weight: 100; 
	line-height: 2em; 
}


.container{ max-width: 1200px; margin: 0 auto; }


.call_to { 
	margin: 0px auto;
	text-align: center;
	padding: none;
 }

.call_to a{
	display: inline-block;
	width: 350px;
	font-size: 24px;
	color:rgba(255,255,255,.9);
	font-weight: 300;
}

.call_to a:after, .call_to a:before{
	content: '';
	display: block;
	margin: 10px auto;
	height: 1px;
	width: 0px;
	background: currentColor;
	transition: .5s;
}

.call_to a:hover::after, .call_to a:hover::before{
	width: 300px;
	transition: .5s;
}


.call_to p{
	color:rgba(255,255,255,.9);
	font-weight: 100;
	margin: 20px 0px 40px 0px;
}



body.loaded #loading-screen{visibility: hidden; transition: 2s; opacity: 0;}


#loading-screen{
	height: 100vh;
	width: 100%;
	background: url(../img/bg-loading.svg) no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed; z-index: 1000000000;
	opacity: 1;
	transition: all 1s;
	top: 0;
	left: 0;
	right: 0;
}

#loading-screen img{
	width: 30%;
    opacity: 1;
    transition: 1s;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;

}


#loading-screen span{
	font-size: 16px;
	line-height: 2em;
	font-weight: 600;
	text-align: center;
	margin: 0 auto;
	display: block;
	color: rgba(255,255,255,.8);
	text-transform: uppercase;
	letter-spacing: 0.2em;
}


.loader{ 
	text-align: center; 
	max-width: 400px; 
	display: block; 
	margin: 0 auto;  
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40%;
}

.loader span{ padding: 25px 0; }

.loader div{
	float: left;
    border: 10px solid #000000;
    border-top: 10px solid rgba(255,255,255,.8); 
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.web{	
	position: absolute;
	clear: both;
	bottom: 10%;
	left: 0;
	right: 0;
	font-size: 15px;
}


.slide{
	width: 100%;
	height: 1000px;
	background: url(../img/bg-slide.svg)no-repeat;
	background-size: cover;

}


/* MENU MOBILE - OFF*/
.nav {
    background-color: rgba(0,0,0,.6);
    width: 100%;
}

.menu {display: none;}

.logo{ 
        margin: 25px 40px;
        height: auto; 
        width: 240px; 
        float: left;
    }

#toggle {
    display: none;
}

/* MENU MOBILE - OFF*/





