img { /* Imagem fluída */
	display: block;
	max-width: 100;
}

body {  
	background-size: cover; 
	background-attachment: fixed;
	box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;}

h1 { 
	font-size: 60px;
	line-height: 2em;
}

p{
	font-size: 21px;
	font-weight: 100; 
	line-height: 2em; 
}


.titulo-1{ 
 	font-size: 72px;
 	font-weight: 700;
 	line-height: 1.5em;
 	color: white;
 	text-align: center;
 	clear: both;
 }


.call_to { 
	position: relative;
	margin: 80px auto;
	text-align: center;
	padding: none;
	z-index: 1;
 }

.call_to a{
	padding: 12.5px 50px;
	border-radius: 30px;
	border: 3px solid rgba(255,255,255,.8);
	font-size: 17px;
	color:rgba(255,255,255,.9);
	font-weight: 600;
	background: (255,255,255,.6);
}



.call_to p{
	color:rgba(255,255,255,.9);
	font-weight: 100;
	margin: 20px 0px 40px 0px;
}



body.loaded #loading-screen{visibility: hidden; transition: 2s; opacity: 0;}


#loading-screen{
	height: 100vh;
	width: 100%;
	background: url(../img/bg-loading.svg) no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed; z-index: 1000000000;
	opacity: 1;
	transition: all 1s;
	top: 0;
	left: 0;
	right: 0;
}

#loading-screen img{
	width: 30%;
    opacity: 1;
    transition: 1s;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;

}


#loading-screen span{
	font-size: 16px;
	line-height: 2em;
	font-weight: 600;
	text-align: center;
	margin: 0 auto;
	display: block;
	color: rgba(255,255,255,.8);
	text-transform: uppercase;
	letter-spacing: 0.2em;
}


.loader{ 
	text-align: center; 
	max-width: 400px; 
	display: block; 
	margin: 0 auto;  
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40%;
}

.loader span{ padding: 25px 0; }

.loader div{
	float: left;
    border: 10px solid #000000;
    border-top: 10px solid rgba(255,255,255,.8); 
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.web{	
	position: absolute;
	clear: both;
	bottom: 10%;
	left: 0;
	right: 0;
	font-size: 15px;
}


.slide{
	width: 100%;
	height: 1000px;
	background: url(../img/bg-slider2.jpg)no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0 auto; 
 	overflow: hidden;     
 	position: relative;
 	top: -130px;
}




.slide .titulo-1{ padding-top: 300px; }

.slide_item{ 
	text-align: center; 
	color: rgba(255,255,255,.9); 
	position: absolute;
	right: 0; 
	left: 0;
	top: 0;
	visibility: hidden;
	margin-left: -300%;
	opacity: .4;
	transition: 2s;

	}


.slide_item.active{position: relative; visibility: visible; margin-left: 0%;
	transition: 2s; opacity: 1;}

.slide_item p{
	font-size: 24px;
	font-weight: 300;
	margin: 15px 0;
}

.slide_item span{
	margin: 20px 0px;
	position: relative;
	font-size: 50px;
	font-weight: 700;
}

.slide_item span:before{
	content: 'R$';
	font-size: 24px;
	margin: 10px 0px;
	position: absolute; 
	top: -10px;
	left: -40px;
}


/* MENU MOBILE - OFF*/
.nav {
    background-color: rgba(0,0,0,.6);
    width: 100%;
}

.menu {display: none;}

.logo{ 
        margin: 25px 40px;
        height: auto; 
        width: 60px; 
        float: left;
        position: relative;
        z-index: 2;
    }

#toggle {
    display: none;
}

/* MENU MOBILE - OFF*/





