/* GLOBAL */

/* RESET */
* { font-family: 'Montserrat', sans-serif; }

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

html,body{ overflow-x: hidden; }

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

/* FECHA RESET */



/* IMAGEM RESPONSIVA */
img { display: block; max-width: 100%;}

/* FECHA IMAGEM RESPONSIVA */



/* GERAL */
.titulo-1, .titulo-2{
    font-size: 48px; 
    font-weight: 600;
    padding: 10px 0px;
    text-align: center;
}

.titulo-1 {color: #006DF0; }
.titulo-2 {color: white;}

p{ font-size: 14px;  line-height: 1.6em;}

.parag-1{text-align: left;}
.parag-2{text-align: right;}

.call_to_1, .call_to_2{ 
    display: block;
    margin: 30px auto;
    width: 160px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.call_to_1{
    border: 2px solid white;
    color: white;
}

.call_to_1:hover{
    background: rgba(255,255,255,.1);
}

.call_to_2{
    border: 2px solid #006DF0;
    color: #006DF0;
}

.call_to_2:hover{
    background: rgba(0,109,140,.1);
}

/* FECHA GERAL */


/* MENU */

.logo img{ 
    height: 35px; 
    width: auto; 
    float: left;
    margin: 0px;
}

#bt_menu{display: none}
.check_menu{display: none;}

    .app-top-header{
        height: 80px;
        padding: 10px 0;
        width: 100%;
        background: #006DF0;
    }


/* FECHA MENU */


/* INTRO HOME */

.intro-home{ padding: 20px 0px; 
    width: 100%;
    background: #006DF0;
    background-attachment: fixed;
    background-size: cover;
}

.intro-home p{ 
    display: block;
    margin: 0 auto;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
}

.intro-home img{ 
    width: 300px; 
    margin: 40px auto; }

/* FECHA INTRO HOME */


/* SOBRE - HOME */
.sobre-home{ padding: 30px 0px;}

.sobre-home .titulo-1{ text-align: center;}

.sobre-home p{ 
    text-align: center; 
    line-height: 2em;
    color: #777;
}

.sobre-home .youtube-video{
    margin: 20px 0px;
    width: 100%;
    height: 300px;
}
/* FECHA SOBRE - HOME */


 /* INTRO - SPAN */
.intro-span{ padding: 20px 0px 40px 0px;}

.intro-span .titulo-1{ margin-bottom: 20px;}

.intro-span span{
    font-size: 18px;
    display: block;
    line-height: 2em;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 2px;
    background: #006DF0;
}

.intro-span p{
    display: none;
    font-size: 14px;
    height: 100px;
    color: #777777;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}

.span-wrapper{
    padding-bottom: 10px;
    background: #f7f7f7;
}

.intro-span img{
    height: 100px;
    margin: 20px auto;
}


.intro-span span::before{
    content: '';
    display: block;
    height:25px;
    width: 25px;
    border-radius: 100%;
    background: url(../img/before_span.svg)no-repeat;
    margin: 5px 0;
    float: right;
    transition: .3s;
}



#span-A, #span-B, #span-C {
    display: none;
}


.span-input:checked + .span-wrapper .span-conteudo{
    display: block;
}

.span-input:checked + .span-wrapper .span-titulo::before{
    transform: rotate(-90deg);
    transition: .3s;
}


/* FECHA INTRO - SPAN */


/* BLOG - HOME */

.blog-home{ padding: 20px 0px 40px;}

.blog-home .titulo-1{
    text-align: center;
    margin-bottom: 20px;
}

.blog-post{ margin: 15px 0px;}

.blog-post.breve span{
    background: #777;
}

.blog-post span{
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px 10px;
    background: #006DF0;
    font-weight: 600;
    line-height: 1.5em;
    color: white;
}

.blog-post p{
    width: 100%;
    padding: 15px;
    color: white;
    background: rgba(0,109,240,.8) 
}



/* FECHA BLOG - HOME*/





/* EQUIPE - HOME */

.equipe-home{ 
    padding: 20px 0px; background:#006DF0;
    position: relative;
    overflow: hidden;
}

.equipe-home .titulo-2{margin-bottom: 20px;}

.slide{ 
  margin: 0 auto; 
  overflow: hidden;     
  position: relative; }

.slide_item {position: absolute; 
    opacity: 0;
    color: white;
    transform: translate3d(-30px,0,0);
    text-align: center;
}

.slide_item img{
    object-fit: cover;
    object-position: top; 
    height: 300px;
    width: 100%;
    background: black;
    border-radius: 100%;
    margin-bottom: 15px;
}

.slide_item h2{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.slide_item span{ font-weight: 300;}
 
.slide_item.active{position: relative;           opacity: 1;
    transition: all 1s;
    transform: translate3d(0,0,0);
}



/* FECHA EQUIPE - HOME */



/* SOCIAL - HOME */
.social-home{ padding: 20px 0px 40px 0px;}
.social-home .titulo-1{
    margin: 20px 0;
}

.post-social iframe{
    height: 300px;
}

.post-social h2{
    width: 100%;
    padding: 15px;
    font-weight: 600;
    color: #006DF0;
}


/* FECHA SOCIAL - HOME*/




/* RODAPÉ */
.rodape{
    margin-top: 0px;
    padding-top: 20px;
    background: #006DF0;
}

.logo-footer img{
    height: 40px;
    margin: 10px auto;
}

.menu-footer a{
    font-size: 12px;
    display: block;
    text-align: center;
    padding: 10px 0px;
    color: rgba(255,255,255,.8);
    margin: 10px;
}

.follow{margin: 30px 0px;}

.follow span{
    font-weight: 600; 
    color: white;
    display: block; 
    text-align: center;
    margin-bottom: 20px;
 }

.follow a{
    font-size: 12px;
    text-align: center;
    margin: 20px 20px 0px 20px;
    color: rgba(255,255,255,.8);
}

.copyright{
    font-size: 10px;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    color: rgba(255,255,255,.8);
    background: rgba(0,80,240,1)
}



.intro-home .call_to{ 
    clear: both;
    margin: 40px auto 0px auto;
}
















@media only screen and (max-width: 959px){

    .logo img{ margin: 15px 20px 0px 20px;}

    
  .check_menu{display: block;}
  .mobile-btn{
        display: block;
        border-top: 2px solid white;
        width: 25px;
        margin: 20px 20px;;
        cursor: pointer;
      float: right;
    }
    
     .mobile-btn::after, .mobile-btn::before{
        display: block;
        content: '';
        margin: 4px auto;
        height: 2px;
        width: 25px;
        background: white;
    }

    
    .menu-top{
        position: absolute;
        width: 45%;
        top:0px;
        right: 0px;
        top: 80px;
        z-index: 2;
        background: white;
        display: none;
    }
    
    .menu-top a{
        font-size: 12px;
        margin: 0 auto;
        text-align: center;
        display: block;
        color: #006DF0;
        padding: 20px 0px;
        font-weight: 400;
        width: 100%;
        border: 1px solid #EAEAEB;

    }
    
    .menu-top .acess{
        font-weight: 400;
        background: #006DF0;
        color: white;
    }
    
    #bt_menu:checked + .menu-top{
        display: block;
    }
    
}








